.dashboard-view {
    padding-left: var(--lumo-space-s);
    padding-right: var(--lumo-space-s);
    font-family: var(--lumo-font-family);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--lumo-contrast-10pct);
    align-content: flex-start;
    justify-content: space-evenly;
}

.dash-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-right: var(--lumo-space-s);
    flex-wrap: nowrap;
    column-gap: var(--lumo-space-xs);
    row-gap: 0;

    > vaadin-date-picker {
        width: 110px;
        padding-top: var(--lumo-space-xs);
    }

    h2 {
        margin-right: auto;
        padding-left: var(--lumo-space-m);
    }

}

.highcharts-credits {
    display: none;
}

.dashboard-content {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--lumo-space-m);
    justify-content: center;
    align-content: flex-start;
    /*align-items: flex-start;*/
    /*flex-wrap: wrap;*/
    padding: var(--lumo-space-m);
    padding-top: 0;
}

.dashboard-content .dashboard-chart {
    flex: 0 0 32%;
    border-radius: var(--lumo-border-radius-l);
    flex-grow: 1;
    border: var(--lumo-space-xs) solid var(--lumo-base-color);
}

.div-overview {
    flex-wrap: nowrap;
    overflow-x: auto;

    .card-dash-kpi {
        box-shadow: none;
        flex: 1;
        flex-wrap: nowrap;
    }
}

.div-overview::-webkit-scrollbar {
    display: none; /* Ocultar la barra de scroll en Webkit */
}


.card-dash-kpi [theme~='badge'] {
    font-weight: bold;
    padding: 0.2em calc(0.5em + var(--lumo-border-radius-s) / 4);

    vaadin-icon {
        height: var(--lumo-icon-size-s);
    }

}

.highcharts-container {
    min-width: 100px;
    min-height: 280px;
    max-width: 1000px;
    max-height: 310px;
    padding-right: var(--lumo-space-s);
    /*height: 320px !important;*/

    text {
        font-family: var(--lumo-font-family);
    }
}

@media (max-width: 600px) {
    .div-overview {
        gap: var(--lumo-space-xs);

        .card-dash-kpi {
            padding: var(--lumo-space-s);
        }
    }
}

@media (max-height: 1080px) {
    .highcharts-container {
        max-height: 350px;
    }
}

@media (max-height: 900px) {

    .highcharts-container {
        max-height: 250px;
    }

    .dashboard-view {
        padding: 0;
        flex-wrap: wrap;
    }

    .dashboard-content, .div-overview {
        padding: var(--lumo-space-s);
        gap: var(--lumo-space-s);

        vaadin-horizontal-layout {
            gap: var(--lumo-space-s);
        }
    }

    .div-overview {
        padding-bottom: 0;
        padding-top: 0;
    }

    .card-dash-kpi {
        padding: var(--lumo-space-s);
    }

}

@media (max-width: 400px) {
    .dash-toolbar h2{
        /*display: visible;*/
        font-size: var(--lumo-font-size-s);
    }

    .div-overview{
        flex-wrap: wrap;
    }
    .dashboard-content {

        vaadin-horizontal-layout {
            flex-direction: column;
        }
    }

    .highcharts-container {
        /*max-height: 200px;*/
    }

}





