.welcome-view {
    height: 100%;
    /*align-content: center;*/
    background-color: var(--lumo-base-color);

}

.welcome-view > vaadin-dialog-overlay > vaadin-vertical-layout {
    align-items: center;
}


.welcome-view > vaadin-dialog-overlay::part(content) {
    padding-bottom: 0;
}

.welcome-view > vaadin-dialog-overlay::part(header) {
    align-self: center;
}

.welcome-view > vaadin-dialog-overlay::part(footer) {
    justify-content: center;
}

.welcome-content {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

    > div:first-child {
        padding-top: 8rem;
        padding-bottom: var(--lumo-space-xl);
    }

    > vaadin-vertical-layout {
        align-items: center;
    }
}

.welcome-newprofile{
    display: flex;
    flex-direction: column;
    row-gap: var(--lumo-space-m);

    max-width: 280px;
    align-items: center;
    margin: auto;
    padding: var(--lumo-space-xl);
    border-radius: var(--lumo-space-s);
    border: 1px solid var(--lumo-contrast-30pct);

}


.welcome-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--lumo-space-m);
    column-gap: var(--lumo-space-m);
    align-items: normal;
    justify-content: center;

    > vaadin-vertical-layout{
        align-items: center;

        > vaadin-avatar {
            font-weight: 800;
            font-size: var(--lumo-font-size-l);
            color: var(--lumo-primary-text-color);
        }
    }
}

.card-profile {
    max-width: 200px;
    border: 1px solid var(--lumo-contrast-10pct);
    padding: var(--lumo-space-l);
    border-radius: var(--lumo-space-s);
    cursor: pointer;
}

.span-aviso {
    font-size: var(--lumo-font-size-xs);
}

.welcome-content h3 {
    background-image: linear-gradient(90deg, var(--lumo-primary-text-color) 0%, var(--lumo-success-text-color) 56%, var(--lumo-warning-color) 100%);
    color: transparent;
    -webkit-background-clip: text;

    animation: move 1s infinite;
    font-size: var(--lumo-font-size-xxxl);
}

@keyframes move {
    50% {
        background-image: linear-gradient(262deg, var(--lumo-warning-color) 0%, var(--lumo-success-color) 56%, var(--lumo-warning-color) 100%);
    }
}