.wizard-config-view {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;

    > vaadin-horizontal-layout {
        justify-content: end;
        padding: var(--lumo-space-s);
        padding-right: var(--lumo-space-xl);
    }

    .app-name {
        padding-top: var(--lumo-space-m);
    }


}

.wizard-config-view .tabsheet-wizard {
    flex-grow: 1;
}

.wizard-config-view .tabsheet-wizard {

    > div {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        padding: var(--lumo-space-xl);
        border: 1px solid var(--lumo-contrast-10pct);
        border-radius: var(--lumo-border-radius-m);
        margin-top: var(--lumo-space-l);
        margin-left: auto;
        margin-right: auto;

        > span > span {
            /*opacity: .85;*/
            margin-top: var(--lumo-space-s);
            justify-content: start;
            margin-right: var(--lumo-space-xs);
        }
    }

    .content-tab-4  vaadin-form-layout {
        align-self: center;
        max-width: 300px;
    }
}

.wizard-config-view .content-form-preview {
    display: flex;
    column-gap: var(--lumo-space-m);
    row-gap: var(--lumo-space-m);
    margin-top: var(--lumo-space-m);

    > vaadin-form-layout {
        max-width: 50%;
        border-radius: var(--lumo-space-s);
        border: 1px solid var(--lumo-contrast-10pct);
        padding: var(--lumo-space-m);

        > vaadin-upload {
            margin-top: var(--lumo-space-m);
        }
    }
}

.wizard-config-view .div-preview {
    display: flex;
    flex-direction: column;
    padding: var(--lumo-space-s);
    align-items: center;
    /*min-width: 300px;*/
    border-radius: var(--lumo-space-s);
    border: 1px solid var(--lumo-contrast-10pct);
    flex-grow: 1;
    justify-content: center;

    > img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 10px solid var(--lumo-base-color);
    }

    > vaadin-vertical-layout {
        gap: var(--lumo-space-xs);
    }
}

.app-name {
    max-width: max-content;
    margin: auto;
}

vaadin-dialog-overlay::part(backdrop) {
    background-color: var(--lumo-contrast-80pct);
}

vaadin-dialog-overlay > vaadin-form-layout {
    > a {
        margin-top: var(--lumo-space-s);
        text-align: center;
        color: var(--lumo-primary-color-50pct);

    }
}


/* Mostrar el botón en pantallas menores a 600px de ancho (modo móvil) */
@media (max-width: 600px) {
    .wizard-config-view .content-form-preview {
        gap: var(--lumo-space-s);
        flex-direction: column;

        > vaadin-form-layout {
            max-width: 100%;
            gap: 0;
            padding: var(--lumo-space-s);

            > vaadin-text-field {
                padding-top: var(--lumo-space-xs);
            }

            > vaadin-upload {
                margin-top: var(--lumo-space-xs);
                padding: var(--lumo-space-xs);
            }

        }
    }

    .wizard-config-view .tabsheet-wizard {
        padding-left: var(--lumo-space-s);
        padding-right: var(--lumo-space-s);

        > div {
            padding: var(--lumo-space-s);
            max-width: 100%;
            margin-top: 0;
            font-size: var(--lumo-font-size-s);
            /*height: 97%;*/

            > .content-grid > vaadin-grid {
                font-size: var(--lumo-font-size-s);
            }
        }


    }

    .wizard-config-view .app-name {
        padding-top: var(--lumo-space-s);
        font-size: var(--lumo-font-size-m);
    }

    .wizard-config-view {
        vaadin-button {
            font-size: var(--lumo-font-size-s);
        }

        span, p {
            font-size: var(--lumo-font-size-xs);
        }

        h3 {
            font-size: var(--lumo-font-size-m);
        }
    }

    vaadin-tabsheet::part(content) {
        padding: var(--lumo-space-xs);
    }

    vaadin-tab {
        font-size: var(--lumo-font-size-s);
    }

    .app-name {
        padding-top: var(--lumo-space-xs);
    }

}


