.wizard-config-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    > vaadin-horizontal-layout {
        justify-content: end;
        padding: var(--lumo-space-s);
   }


}

.wizard-config-view .tabsheet-wizard >  Div{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: var(--lumo-space-xl);
    border: 1px solid var(--lumo-contrast-10pct);
    border-radius: var(--lumo-border-radius-m);
    margin-top: var(--lumo-space-l);
    margin-left: auto;
    margin-right: auto;
    > span > span {
        /*opacity: .85;*/
        margin-top: var(--lumo-space-s);
        justify-content: start;
        margin-right: var(--lumo-space-xs);
    }

    > p {

    }
}