.working-view-content {
    display: flex;
    height: 100vh;
    width: 100%;
    row-gap: 0.5rem;
    flex-flow: row wrap;
    flex: 1 1 auto;
}

.div-left, .div-right {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border-radius: 10px;
    flex-grow: 1;
}

.div-left {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--lumo-primary-color);
    margin-right: var(--lumo-space-xs);
}

.div-right {
    border: 1px solid var(--lumo-contrast-20pct);
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: .1rem;
}


.div-summary {
    background-color: var(--lumo-contrast-20pct);
    display: flex;
    padding: var(--lumo-space-m);
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 1rem;
}

div.no-visible {
    display: none;
}

vaadin-grid {
    /*border: 1px solid saddlebrown;*/
    flex-grow: 2;
    margin: var(--lumo-space-s);
    height: 0;
    flex-basis: 20rem;
}

.toolbar {
    background-color: var(--lumo-contrast-10pct);
    width: 100%;
    border-radius: 4px;
    padding-left: var(--lumo-space-s);
    padding-right: var(--lumo-space-s);
    > vaadin-button {
        background-color: var(--lumo-primary-color);
        color: var(--lumo-base-color);
    }
}
.btn-delete-item, .check-service {
    margin-left: auto;
}

.check-service {
    right: 20px;
}

.btn-add-item {
    visibility: hidden;
}

.item-service-avatar {
    border-radius: 50%;
    background-color: var(--lumo-primary-color);
    max-width: 32px;
    max-height: 32px;
    display: inline-block;
    padding: var(--lumo-space-s);
    margin-right: var(--lumo-space-s);
}

.item-service {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: var(--lumo-space-xs);
    padding-top: var(--lumo-space-xs);
}

.item-service.added > .item-service-avatar {
    background-color: var(--lumo-success-color);
}

.item-service-avatar.avatar {
    padding: var(--lumo-space-xs);
}

.avatar-service {
    max-height: 32px;
    max-width: 32px;
    color: white;
}

.mini-form > vaadin-number-field {
    max-width: 50px;
    margin-left: 4px;
    margin-right: 4px;

    > input[type="number"] {
        min-width: 30px;
        text-align: center;
        font-weight: bold;
        font-size: var(--lumo-font-size-l);
        color: var(--lumo-contrast);
    }
}

/* Mostrar el botón en pantallas menores a 600px de ancho (modo móvil) */
@media (max-width: 600px) {
    .btn-add-item {
        visibility: visible;
    }
}

@media all and (max-width: 800px){
    .column-btn-add {
        display: none;
    }
}

@keyframes highlight {
    0% { background-color: yellow; }
    100% { background-color: white; }
}

.animated-row {
    animation: highlight 2s ease-out;
}

@keyframes blink {
    0% { background-color: var(--lumo-success-color-50pct); }
    100% { background-color: white; }
}

.animated-numberfield {
    animation: blink 0.5s ease-out;
}