.working-view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    gap: 0.5rem;
}

.div-left, .div-right {
    min-width: 280px;
    height: 70vh;
    /*margin-top: 0.5rem;*/
    /*margin: var(--lumo-space-xs);*/
    border-radius: 10px;
    padding: var(--lumo-space-s);
    flex: 1 1 auto;
}

.div-left {
    border: 1px solid var(--lumo-primary-color);
}

.div-right {
    border: 1px solid var(--lumo-success-color);
}


.div-footer {
    border: 1px solid var(--lumo-success-color);
    border-radius: 10px;
    flex-basis: 100%; /* El footer siempre ocupa el 100% del ancho */
    align-self: flex-end; /* El footer se alinea al final del contenedor */
}

div.no-visible {
    display: none;
}

vaadin-grid {
    height: 100%;
}

.btn-delete-item, .check-service {
    margin-left: auto;
}

.check-service {
    right: 20px;
}


.item-service-avatar {
    border-radius: 50%;
    background-color: var(--lumo-primary-color);
    max-width: 32px;
    max-height: 32px;
    display: inline-block;
    padding: var(--lumo-space-s);
    margin-right: var(--lumo-space-s);
}

.item-service {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: var(--lumo-space-xs);
    padding-top: var(--lumo-space-xs);
}

.item-service.added > .item-service-avatar {
    background-color: var(--lumo-success-color);
}

.item-service-avatar.avatar {
    padding: var(--lumo-space-xs);
}

.avatar-service {
    max-height: 32px;
    max-width: 32px;
    color: white;
}

.mini-form > vaadin-number-field {
    max-width: 40px;
    margin-left: 4px;
    margin-right: 4px;

    > input[type="number"] {
        text-align: center;
    }
}

@media all and (max-width: 800px){

    .div-left, .div-right {
        flex-basis: 100%;
        max-height: 90%;
    }

    .div-footer {
        align-self: flex-end;
    }

    .column-btn-add {
        display: none;
    }
}

@keyframes highlight {
    0% { background-color: yellow; }
    100% { background-color: white; }
}

.animated-row {
    animation: highlight 2s ease-out;
}

@keyframes blink {
    0% { background-color: #26ff00; }
    100% { background-color: white; }
}

.animated-numberfield {
    animation: blink 0.5s ease-out;
}